.colorTextBright{
	color: #ffcb05;
}

.colorBackgroundBright{
	background-color: #663300;
}

.colorTextDark{
	color: #533200;
}

.colorBackgroundDark{
	background-color: #533200;
}

.colorBackgroundDark_Gray{
	background-color: #663300;
}

.colorBackgroundDark_GrayDarker{
	background-color: #663300;
}

img{
	width:75%;
	height:auto;
}

.center{
	margin-left:auto; 
	margin-right:auto; 
	text-align:center;
}

input{
	border-radius:20px;
	height:1em;
	border-color:#533200;
	border-width: bold;
	padding: 10px;
	color: black;
	font-weight:bold;
}

a{
	color:#eee;
	margin-bottom:1em;
	text-decoration:none;
}
a:hover{
	color:white;
	text-decoration:underline;
	font-weight:bold;
}

footer{
	position: relative; 
    bottom: 0;
    left: 0;
    right: 0;
}

p,a,h1,h2,h3,h4,div{
	font-family:'Arial';
	font-size:14px;
}

.response{
	border-bottom: 5px solid #533200;
}

.toTop{
	position: fixed; 
    bottom: 0;
    right: 0;
	padding:5px;
	margin-bottom:5px;
	margin-right:5px;
	background-color:#ffcc00;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1pt;
	color:saddlebrown;
}

.q-frame{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding: 12px;
	cursor:pointer;
	background-color: #804d1a;
	margin-bottom: 2px;
	border-radius:8px;
	border-color: black;
	border-width:1px;
	border-style:solid;
	font-weight:bold;
	color: white;
	text-decoration:none;
	text-align:center;
}

.q-frame:hover{
	text-decoration:underline;
	font-weight:bolder;
	font-size:15px;
}

.a-frame{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding: 12px;
	background-color: #663300;
	border-radius:8px;
	border-color: black;
	border-width:1px;
	border-style:solid;
	color:white;
	font-weight:bolder;
}

.nav{
	/*border-radius:4px;
	border-color: black;
	border-width:2px;
	border-style:solid;*/
	color:white;
	font-weight:bold;
	text-align:center;
	margin-bottom:5pt;
	padding-top:2px;
	padding-bottom:2px;
	top: 0px;
	position: sticky;
	width:52%;
	padding-left:0;
	padding-right:0;

}
.navbox{
	width:49%;
	border:none;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:4px;
	border-color: black;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	padding-left:0;
	padding-right:0;
	
}

.navbox:hover{
	text-decoration:underline;
	font-weight:bolder;
}
#errorMsg{
	text-align: center;
	text-decoration: none;
	font-size: 35px;
}




